body{
    font-family: 'PT Sans', sans-serif;
    background-color: #f0f0f0}

h1{
    font-size: 50px;
    font-weight: bold;
}

h2{
    font-size: 25px;

}

header {
    text-align: center;
}


.footer-copyright {
    background-color: #ff8f00 ;
    height: 100px;
    padding: 30px;
}
.container_input_register{
    width: 500px;  
    margin: 0 auto;
    padding: 30px;


}

.contenedor{
    text-align: center;
    width: 100%;
    margin: 42px 0;

}
.fa-facebook-official{
    font-size: 40px;
    color: #f0f0f0;
    float: right;
}